@import "tailwindcss";


html,
body {
    /* padding: 30px; */
    background: linear-gradient(to right, rgb(23,80,23) 5%,black 15%) repeat;
    font-size:20px;
    color: white;
    font-family: var(--font-oswald);
    margin:30px;
    
}
/* .container{
    background: #aaaaaa;

} */

p{
    margin-bottom: 50px;
    margin-left:auto;
    margin-right:auto;
    

}

h1{
    text-align: center;
    font-size: 72px;
    text-decoration: underline;
    font-family: var(--font-zilla);

}

h2{
    text-align: center;
    font-size: 55555
    font-family: var(--font-zilla)
}

