@import "tailwindcss";
@theme {
--color-midnight-violet-50: #ffe5f4;
--color-midnight-violet-100: #ffcce9;
--color-midnight-violet-200: #ff99d3;
--color-midnight-violet-300: #ff66bd;
--color-midnight-violet-400: #ff33a7;
--color-midnight-violet-500: #ff0091;
--color-midnight-violet-600: #cc0074;
--color-midnight-violet-700: #990057;
--color-midnight-violet-800: #66003a;
--color-midnight-violet-900: #33001d;
--color-midnight-violet-950: #240014;

--color-midnight-violet-50: #ffe5f4;
--color-midnight-violet-100: #ffcce9;
--color-midnight-violet-200: #ff99d3;
--color-midnight-violet-300: #ff66bd;
--color-midnight-violet-400: #ff33a7;
--color-midnight-violet-500: #ff0091;
--color-midnight-violet-600: #cc0074;
--color-midnight-violet-700: #990057;
--color-midnight-violet-800: #66003a;
--color-midnight-violet-900: #33001d;
--color-midnight-violet-950: #240014;

--color-dark-coffee-50: #fef1e7;
--color-dark-coffee-100: #fce2cf;
--color-dark-coffee-200: #f9c69f;
--color-dark-coffee-300: #f7a96e;
--color-dark-coffee-400: #f48d3e;
--color-dark-coffee-500: #f1700e;
--color-dark-coffee-600: #c15a0b;
--color-dark-coffee-700: #914308;
--color-dark-coffee-800: #602d06;
--color-dark-coffee-900: #301603;
--color-dark-coffee-950: #221002;

--color-fred:#990000;
--color-sine: #009900;
--color-xxx: #000099;
}
html,
body {
    /* padding: 30px; */
    /* background: linear-gradient(to right, rgb(23,80,23) 5%,black 15%) repeat; */
    background:black;
    /* font-size:35px; */
    color: white;
    font-family: var(--font-play);
     
}


p{
    margin-bottom: 50px;
    margin-left: 2em;
    margin-right: 2em;
    
}

h1{
  text-align: center;
  font-family: var(--font-q);
  font-size: 50px;

 } 

 h2{ 
text-align: center;
font-family: var(--font-q);
margin-bottom: 20px;
font-size: 35px;
 }

.test{
    background: linear-gradient(to left bottom, rgb(23,80,23) 25%,rgb(45,0,0) 55%);
}