html,
body {
    padding: 30px;

    background: linear-gradient(to right, rgb(23,80,23) 1%,black 10%) repeat;

}
div{
    margin-bottom:40px;
    font-family: var(--font-satisfy);
    font-size:1.25rem;
    color: white;
    width:55%;
    height:55%;
    text-align: left;

    }

