---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import wallpaper from '../images/mva.jpg';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <div>
<h1>This is a heading</h1>

<div>
    <p>this is another test for the new font</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim aeque doleamus animo, cum corpore dolemus, fieri tamen permagna accessio potest, si aliquod aeternum et infinitum impendere malum nobis opinemur. Quod idem licet transferre in voluptatem, ut postea variari voluptas distinguique possit, augeri amplificarique non possit. At etiam Athenis, ut e patre audiebam facete et.</p>

   <p> Hoc quoque alienum; nam ante Aristippus, et ille melius. Addidisti ad extremum etiam indoctum fuisse. Fieri, inquam, Triari, nullo pacto potest, ut errem, sed ita sentio et saepe disserui, Latinam linguam non modo voluptatem esse, verum etiam summam voluptatem. Quisquis enim sentit, quem ad modum temeritas et libido et ignavia semper animum excruciant et semper sollicitant turbulentaeque sunt, sic ut plura nemini.</p>
    
    <p>Ulla, quae sua natura aut sollicitare possit aut angere. Praeterea et appetendi et refugiendi et omnino rerum gerendarum initia proficiscuntur aut a voluptate aut a voluptate aut in poetis evolvendis, ut ego et Triarius te hortatore facimus, consumeret, in quibus tam multis tamque variis ab ultima antiquitate repetitis tria vix amicorum.</p>
    
    <p>Veserim propter voluptatem; quod vero securi percussit filium, privavisse se etiam videtur multis voluptatibus, cum ipsi naturae patrioque amori praetulerit ius maiestatis atque imperii. Quid? T. Torquatus, is qui consul cum Cn. Octavio fuit, cum illam severitatem in eo filio adhibuit, quem in adoptionem D. Silano emancipaverat, ut.</p></div>

</div>
</Layout>
